body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#loginButton {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s;
}
#loginButton:hover {
    background-color: #1ed760;
}
#viz-container {
    display: none; /* Hidden by default */
    padding: 20px;
}
main { /* This is where p5.js will create the canvas */
    margin-top: 20px;
}
